*{
    margin: 0;
    padding: 0;
}
.form_container{
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10% 35%;
}
.form{
    border: 2px solid black; border-radius: 4px;
    padding: 5px;
}
