<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Dashboard page</title>
</head>
<body>
    <header>     
          <nav class="navigation">
            <h1 id="admindash"><b>Admin's Dashboard</b></h1>
            <div id="admin_button">
              <a href="#" id="active" class="bt">Info</a>
             <a href="/adminsearch" class="bt">Find</a>
             <a href="#" class="bt">Stats</a>
             <a href="/adminlogin" class="bt">Logout</a>
            </div>
          </nav>     
    </header>
    <div class="greet">Welcome Admin-{{user}}</div>

    <div class="container-unique">
      <div class="section-title-unique">Ongoing Campaigns:</div>
    {%if campaigns %}
       {%for key,values in campaigns.items()%}
       <div class="item-unique">
          <div>{{values[0]}} | {{values[1]}}</div>
          <button class="view-unique">View</button>
       </div>
       {%endfor%}
    {%else%}
     <h7>No Ongoing Campaigns</h7> 
    {% endif %} 

    <div class="section-title-unique">Flagged Users/Campaigns:</div>
    {%if flagged%}
      {%for key,values in flagged.items()%}
      <div class="item-unique">
          <div>{{ values[0] }} | {{ values[1] }}</div>
          <div>
              <button class="view-unique">View</button>
              <button class="remove-unique">Remove</button>
          </div>
      </div>
      {%endfor%}
    {%else%}
     <h7>No Flagged Users/Campaigns</h7>
    {%endif%}  
       
</body>
</html>
