<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Dashboard page</title>
</head>
<body >
    <header>
        <nav class="navigation">
            <h1 id="admindash"><b>Admin's Dashboard</b></h1>
            <div id="admin_button">
                <a href="#" id="active" class="bt">Info</a>
                <a href="/adminsearch" class="bt">Find</a>
                <a href="/adminstats" class="bt">Stats</a>
                <a href="/adminlogin" class="bt">Logout</a>
            </div>
        </nav>
    </header>
    <div class="greet">Welcome Admin-{{user}}</div>

    <div class="container-unique">
        <div class="section-title-unique">Ongoing Campaigns:</div>
        {% if campaigns %}
            {% for key, values in campaigns.items() %}
                <div class="item-unique">
                    <div>{{ values['name'] }} | {{ values['progress'] }}</div>
                    <button type="button" class="view-unique" data-bs-toggle="modal" data-bs-target="#campaignModal{{ key }}">View</button>
                </div>
                
                <!-- Modal for each campaign -->
                <div class="modal fade" id="campaignModal{{ key }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="campaignModalLabel{{ key }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="campaignModalLabel{{ key }}">{{ values['name'] }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Description:</strong> {{ values['description'] }}</p>
                                <p><strong>Start Date:</strong> {{ values['start_date'] }}</p>
                                <p><strong>End Date:</strong> {{ values['end_date'] }}</p>
                                <p><strong>Budget:</strong> {{ values['budget'] }}</p>
                                <p><strong>Visibility:</strong> {{ values['visibility'] }}</p>
                                <p><strong>Goals:</strong> {{ values['goals'] }}</p>
                                <p><strong>Sponsor:</strong> {{ values['sponsor_name'] }}</p>
                                <p><strong>Niche:</strong> {{ values['niche'] }}</p>
                                <hr>
                                <hr>
                                <h4>Ad Requests:</h4>
                                
                                {% for ad in values['ad_requests'] %}
                                   <p><strong>Ad Request Name:</strong> {{ ad.name }}</p>
                                   <p><strong>Messages:</strong> {{ ad.messages }}</p>
                                   <p><strong>Requirements:</strong> {{ ad.requirements }}</p>
                                   <p><strong>Payment Amount:</strong> {{ ad.payment_amount }}</p>
                                   <p><strong>Status from Influencer:</strong> {{ ad.status }}</p>
                                   <p><strong>Status from Sponsor:</strong> {{ ad.ad_status_sponsor }}</p>
                                   <hr>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>No Ongoing Campaigns</h6>
        {% endif %}
    </div>

    <div class="container-unique">
        <div class="section-title-unique">Flagged Users/Campaigns:</div>
        {% if flagged %}
            {% for key, values in flagged.items() %}
                <div class="item-unique">
                    {% if values[0] == "campaign" %}
                        <div>{{ values[1] }} | {{ values[2] }}</div>
                        <div>
                            <button type="button" class="view-unique" data-bs-toggle="modal" data-bs-target="#flaggedModal{{ key }}">View</button>
                            <form action="{{ url_for('unflag_item', item_type=values[0], item_id=key.split('_')[1]) }}" method="POST" style="display: inline;">
                              <button type="submit" class="remove-unique">Remove</button>
                          </form>
                        </div>
                    {% elif values[0] == "influencer" %}
                        <div>{{ values[1] }} | {{ values[2] }}</div>
                        <div>
                            <button type="button" class="view-unique" data-bs-toggle="modal" data-bs-target="#flaggedModal{{ key }}">View</button>
                            <form action="{{ url_for('unflag_item', item_type=values[0], item_id=key.split('_')[1]) }}" method="POST" style="display: inline;">
                              <button type="submit" class="remove-unique">Remove</button>
                          </form>
                        </div>
                    {% elif values[0] == "sponsor" %}
                        <div>{{ values[1] }} | {{ values[2] }}</div>
                        <div>
                            <button type="button" class="view-unique" data-bs-toggle="modal" data-bs-target="#flaggedModal{{ key }}">View</button>
                            <form action="{{ url_for('unflag_item', item_type=values[0], item_id=key.split('_')[1]) }}" method="POST" style="display: inline;">
                              <button type="submit" class="remove-unique">Remove</button>
                          </form>
                        </div>
                    {% endif %}
                </div>
                
                <!-- Modal for each flagged item -->
                <div class="modal fade" id="flaggedModal{{ key }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="flaggedModalLabel{{ key }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="flaggedModalLabel{{ key }}">{{ values[1] }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if values[0] == "campaign" %}
                                    <p><strong>Name:</strong> {{ values[1] }}</p>
                                    <p><strong>Sponsor:</strong> {{ values[2] }}</p>
                                    <p><strong>Description:</strong> {{ values[3] }}</p>
                                    <p><strong>Start Date:</strong> {{ values[4] }}</p>
                                    <p><strong>End Date:</strong> {{ values[5] }}</p>
                                    <p><strong>Budget:</strong> {{ values[6] }}</p>
                                    <p><strong>Visibility:</strong> {{ values[7] }}</p>
                                    <p><strong>Goals:</strong> {{ values[8] }}</p>
                                {% elif values[0] == "influencer" %}
                                    <p><strong>User Name:</strong> {{ values[1] }}</p>
                                    <p><strong>Platform:</strong> {{ values[2] }}</p>
                                    <p><strong>Followers:</strong> {{ values[3] }}</p>
                                {% elif values[0] == "sponsor" %}
                                    <p><strong>User Name:</strong> {{ values[1] }}</p>
                                    <p><strong>Industry:</strong> {{ values[2] }}</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>No Flagged Users/Campaigns</h6>
        {% endif %}
    </div>
</body>
</html>
