<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <style>
        body,html{
            height: 100%;
        }
    </style>
    <title>Login page</title>
</head>
<body class="bfd">
    <div class="cont">
      <h1 id="h1"> Select type of user</h1>  
        <div class="form">
         <button class="button"><a class="lbt" href="/adminlogin"><b>Admin</b></a></button><br><br>
         <button class="button"><a class="lbt" href="/userlogin"><b>User</b></a></button>
        </div>
    </div>  
    
</body>
</html>
