<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <title>Login page</title>
</head>
<body>
    <div class="cont">
      <h1 id="h1"> Select type of user</h1>  
        <div class="form">
         <button><a class="bt" href="adminlogin.html">Admin</a></button><br><br>
         <button><a class="bt" href="userlogin.html">User</a></button>
        </div>
    </div>  
    
</body>
</html>
