<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Sponsor Dashboard page</title>
</head>
<body>
    <header>     
          <nav class="navigation">
            <h1 id="admindash"><b>Sponsor's Dashboard</b></h1>
            <div id="admin_button">
             <a href="/sponsordashboard" id="active" class="bt">Profile</a>
             <a href="#"  class="bt">Campaigns</a>
             <a href="/sponsorsearch" class="bt">Find</a>
             <a href="#" class="bt">Stats</a>
             <a href="/userlogin" class="bt">Logout</a>
            </div>
          </nav>     
    </header>
    <div class="greet">Welcome {{user}}</div>
    <div class="bd">
      <div class="container">
          
          <div class="campaigns">
              <h3>Active Campaigns:</h3>
            {%if campaigns %}
              {%for key,values in campaigns.items()%}
                <div class="item-unique">
                 <div>{{values[0]}} | {{values[1]}}</div>
                 <button type="button" class="view-unique" data-bs-toggle="modal" data-bs-target="#staticBackdrop">View</button>      
          
                </div>
              {%endfor%}
            {%else%}
                <h6>No Ongoing Campaigns</h6> 
            {% endif %}
          </div>
          <div class="requests">
              <h3>New Requests:</h3>
              <div class="request">
                  <div>Campaign 07 | Company 01</div>
                  <button class="button button-view">view</button>
                  <button class="button button-accept">accept</button>
                  <button class="button button-reject">reject</button>
              </div>
              <div class="request">
                  <div>Campaign 05 | Company 01</div>
                  <button class="button button-view">view</button>
                  <button class="button button-accept">accept</button>
                  <button class="button button-reject">reject</button>
              </div>
          </div>
      </div>
   
    
</body>
</html>
