<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Sponsor Dashboard page</title>
</head>
<body>
    <header>     
          <nav class="navigation">
            <h1 id="admindash"><b>Sponsor -{{user}}</b></h1>
            <div id="admin_button">
             <a href="/sponsordashboard"  class="bt">Profile</a>
             <a href="/sponsorcampaign"  class="bt">Campaigns</a>
             <a href="/sponsorsearch" id="active" class="bt">Find</a>
             <a href="#" class="bt">Stats</a>
             <a href="/userlogin" class="bt">Logout</a>
            </div>
          </nav>     
    </header>
    <div class="container">
        <div class="search-filter">
            <input type="text" placeholder="Search">
            <button>Filter</button>
        </div>
        
    {% if List%}  
    {%for key,values in List.items()%}
     <div class="item">
        {% if values[0] == "campaign" %}
          <div>{{ values[1] }} | {{ values[2] }}</div>
          <div>
              <button class="view">View</button>
              <button class="req">Request</button>
          </div>
        {% elif values[0] == "influencer" %}
          <div>{{ values[1] }} | {{ values[2] }}</div>
          <div>
              <button class="view">View</button>
              <button class="req">Request</button>
          </div>
    
        {% endif %}
     </div>
    {%endfor%}
    {%else%}
      <h5>NO data to show</h5>  
    {%endif%}  
      
    </div>

  </body>
