<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Dashboard page</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <h1 id="admindash"><b>Admin's Dashboard</b></h1>
            <div id="admin_button">
                <a href="#" id="active" class="bt">Info</a>
                <a href="/adminsearch" class="bt">Find</a>
                <a href="#" class="bt">Stats</a>
                <a href="/adminlogin" class="bt">Logout</a>
            </div>
        </nav>
    </header>
    <div class="greet">Welcome Admin-{{user}}</div>

    <div class="container-unique">
        <div class="section-title-unique">Ongoing Campaigns:</div>
        {% if campaigns %}
            {% for key, values in campaigns.items() %}
                <div class="item-unique">
                    <div>{{ values[0] }} | {{ values[1] }}</div>
                    <button type="button" class="view-unique" data-bs-toggle="modal" data-bs-target="#viewcampaign{{ key }}">View</button>
                    <div class="modal fade" id="viewcampaign{{ key }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewcampaignLabel{{ key }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="viewcampaignLabel{{ key }}">{{ values[0] }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>No Ongoing Campaigns</h6>
        {% endif %}

        <div class="section-title-unique">Flagged Users/Campaigns:</div>
        {% if flagged %}
            {% for key, values in flagged.items() %}
                <div class="item-unique">
                    <div>{{ values[1] }} | {{ values[2] }}</div>
                    <div>
                        <button type="button" class="view-unique" data-bs-toggle="modal" data-bs-target="#viewflagged{{ key }}">View</button>
                        <div class="modal fade" id="viewflagged{{ key }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewflaggedLabel{{ key }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="viewflaggedLabel{{ key }}">{{ values[1] }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="remove-unique">Remove</button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>No Flagged Users/Campaigns</h6>
        {% endif %}
    </div>
</body>
</html>
