<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User login page</title>
</head>
<body>
    <div class="form_container">
      <h1 id="h1">User Login</h1>  
      <form class="form" action="/userlogin" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname">
          <div id="emailHelp" class="form-text">Pls never share your details with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button><br><br>
        Not registered yet?<br>
        <Button><a class="bt" href="/Influencerrregistration">Influencer Registration</a></Button><br><br>
        <button><a class="bt" href="/Sponsorregistration">Sponsor Registration</a></button>
      </form>
    </div>

</body>
</html>